
<!--
What do admins need to do?
	- Add users to the system
		- Assign users a role (Admin, Teacher, Student)
			- If a Teacher
				- Assign teachers a class
			- If a student
				- Assign students to a class
	- Add classes / delete classes
  - Delete users. 


-->
<!DOCTYPE html>
<html lang="en">

<style>
  #logout {
    float: right;
  }
    .colored {
        /*background-color: rgb(210, 210, 210);*/
    }
</style>


<head>
  <title>Manage Tests</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <!-- Parse -->
  <script src="//www.parsecdn.com/js/parse-1.4.2.min.js"></script>

</head>


<body class="colored" ng-app="crestwoodPortal">
  <div class="container colored" ng-controller="AdminIndexController">
    <p id="logout">Welcome {{ currentUser }} - <a ng-click="logout()">logout</a></p>
    <h1>Crestwood Test Portal</h1>
      <div class="col-md-12">
      <h3>Add User</h3>
        <div id="createUserError" hidden>
          <p style="color: red"> There was an error adding a user</p>
        </div>
        <div id="createUserSuccess" hidden>
          <p style="color: green"> User added successfully</p>
        </div>
        <form id="createUserForm">	
        	E-mail: <input id="email" type="email" ng-model="user.name" required/><br />
        	Password: <input id="password" type="password" ng-model="user.password" required/> <br />
        	Account Type: 
        		<select id="accountType" ng-model="user.accountType">
        			<option value="Student" selected>Student</option>
        			<option value="Teacher">Teacher</option>
        			<option value="Administrator">Administrator</option>
        		</select> <br />
        	<input type="submit" ng-click="createUser(user)" value="Add User"/>
        </form>
      
      <br>
      <hr>
      <br>

      <h3>Add Courses</h3>
        <div id="courseError" hidden>
          <p style="color: red"> There is already a course created with that code, please try another</p>
        </div>
        <div id="courseAdded" hidden>
          <p style="color: green"> Course successfully added</p>
        </div>
        <form>
          Course code: <input id="courseCodeInput" type="text" ng-model="course.code" required> <br/>
          <input type="submit" ng-click="addCourse(course)" value="Add Class" />
        </form>
      
      <br>
      <hr>
      <br>
      
      <h3>Assign Teachers</h3>
      <div class="errors" style="color: red" >
        <p id="assignTeacherError" hidden> There was an error assigning this teacher</p>
        <p id="teacherAssignNoCourseSelected" hidden> Please choose a course to assign</p>
        <p id="teacherAssignNoTeacherSelected" hidden> Please choose a teacher</p>
      </div>
      <div class="successes" style="color: green">
        <p id="assignTeacherSuccess" hidden> Teacher assigned to the following class(es) successfully: {{teacherCoursesSuccessfullyAssigned}}</p>
      </div>
      <form>
        Assign Teacher:
          <select ng-model="assign.teacherName" required>
            <option ng-repeat="teacher in allTeachers">{{teacher.name}}</option>
          </select><br>
        To Course:
        <div ng-repeat="course in allUnassignedCourses | orderBy:'code'">
          <label>
            <input class="checkbox" type="checkbox" checklist-model="teacherAssignCourses.courses" checklist-value="course.code" />
            <span>{{course.code}}</span>
          </label>
        </div>
        <br>
        <input type="submit" ng-click="assignTeacher(assign)" value="Assign Teacher"></input>
      </form>
      
      <br>
      <hr>
      <br>
      
      <h3>Assigned Teachers</h3>
      <div class="container" style="margin-top: 10px">
        <div class="col-md-12" ng-repeat="teacher in allTeachers | filter:hasClasses">
          <h4 style="font-weight: bold;">{{teacher.name}}</h4>
          <table>
            <thead>
              <tr>
                <th>Class</th>
                <th>Delete</th>
              </tr>
            </thead>  
            <tr ng-repeat="assignedCourse in teacher.assignedCourses">
              <td>{{ assignedCourse }}</td>
              <td><button ng-click="unassignTeacher(teacher.object, assignedCourse)">
                <img ng-src="/assets/images/x-mark.gif"/>
              </button></td>
            </tr>
          </table>
        </div>
      </div>

      <br>
      <hr>
      <br>

      <h3>Assign Students</h3>
        <div class="errors" style="color: red">
          <p id="assignStudentError" hidden> There was an error assigning this student</p>
          <p id="studentAssignNoCourseSelected" hidden> Please choose a course to assign</p>
          <p id="studentAssignNoStudentSelected" hidden> Please choose a student</p>
          <p id="studentCoursesAlreadyAssigned" hidden>Unable to add student to the following courses becuase they are already assigned to them: {{studentCoursesAlreadyAssigned}}</p>

        </div>
        <div class="successes" style="color: green">
          <p id="assignStudentSuccess" hidden> Student assigned to the following class(es) successfully: {{studentCoursesSuccessfullyAssigned}}</p>
          <!-- <p id="studentCoursesAlreadyAssignedConfirmation" hidden>Any other classes selected(if any) were successfully assigned</p> -->
        </div>
        <form>
          Assign Student:
            <select ng-model="assign.studentName" required>
              <option ng-repeat="student in allStudents | orderBy:'name'">{{student.name}}</option>
            </select><br>
          To Course:
          <div ng-repeat="course in allCourses | orderBy:'code'">
            <label>
              <input class="checkbox" type="checkbox" checklist-model="studentAssignCourses.courses" checklist-value="course.code" />
              <span>{{course.code}}</span>
            </label>
          </div>
          <br>
          <input type="submit" ng-click="assignStudent(assign)" value="Assign Student"></input>
        </form>

      <br>
      <hr>
      <br>
      
      <h3>Assigned Students</h3>
        <div class="errors" style="color: red">
          <p id="t" hidden>Temp error</p>
        </div>
        <div class="successes" style="color: green">
          <p id="e" hidden>Temp success</p>
        </div>

        <div  ng-repeat="student in allStudents | filter:hasClasses">
          <h4 style="font-weight: bold;">{{student.name}}</h4>
          <table>
            <thead>
              <tr>
                <th>Class</th>
                <th>Delete</th>
              </tr>
            </thead>  
            <tr ng-repeat="assignedCourse in student.assignedCourses">
              <td>{{ assignedCourse }}</td>
              <td>
                <button ng-click="unassignStudent(student.object, assignedCourse)">
                  <img ng-src="/assets/images/x-mark.gif"/>
                </button>
              </td>
            </tr>
          </table>
        </div>
      
      <br>
      <hr>
      <br>
      
      <h3>Delete Teachers</h3>
        <div class="errors" style="color: red">
          <p id="t" hidden>Temp error</p>
        </div>
        <div class="successes" style="color: green">
          <p id="e" hidden>Temp success</p>
        </div>

        <div>
          <table>
            <thead>
              <tr>
                <th>Student name</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tr ng-repeat="teacher in allTeachers">
              <td>{{teacher.name}}</td>
              <td>
                <button ng-click="deleteTeacher(teacher.object)">
                  <img ng-src="/assets/images/x-mark.gif"/>
                </button>
              </td>
            </tr>
          </table>
        </div>

      <br>
      <hr>
      <br>
      
      <h3>Delete Students</h3>
        <div class="errors" style="color: red">
          <p id="t" hidden>Temp error</p>
        </div>
        <div class="successes" style="color: green">
          <p id="e" hidden>Temp success</p>
        </div>

        <div>
          <table>
            <thead>
              <tr>
                <th>Student name</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tr ng-repeat="student in allStudents">
              <td>{{student.name}}</td>
              <td>
                <button ng-click="deleteStudent(student.object)">
                  <img ng-src="/assets/images/x-mark.gif"/>
                </button>
              </td>
            </tr>
          </table>
        </div>
      
      <br>
      <hr>
      <br>
      
      <h3>Delete Admins</h3>
        <div class="errors" style="color: red">
          <p id="t" hidden>Temp error</p>
        </div>
        <div class="successes" style="color: green">
          <p id="e" hidden>Temp success</p>
        </div>

        <div>
          <table>
            <thead>
              <tr>
                <th>Admin name</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tr ng-repeat="administrator in allAdministrators">
              <td>{{administrator.name}}</td>
              <td>
                <button ng-click="deleteAdmin(administrator.object)">
                  <img ng-src="/assets/images/x-mark.gif"/>
                </button>
              </td>
            </tr>
          </table>
        </div>

      <br>
      <hr>
      <br>

      <h3>Delete Courses</h3>
        <div class="errors" style="color: red">
          <p id="t" hidden>Temp error</p>
        </div>
        <div class="successes" style="color: green">
          <p id="e" hidden>Temp success</p>
        </div>

        <div>
          <table>
            <thead>
              <tr>
                <th>Course Code</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tr ng-repeat="course in allCourses">
              <td>{{course.code}}</td>
              <td>
                <button ng-click="deleteCourse(course.object)">
                  <img ng-src="/assets/images/x-mark.gif"/>
                </button>
              </td>
            </tr>
          </table>
        </div>
      <br>
      <hr>
      <br>

  <!-- angular -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.3.15/angular-route.min.js"></script>
  <script src="https://code.angularjs.org/1.3.15/angular-messages.min.js"></script>
  <script src="https://code.angularjs.org/1.3.15/angular-resource.min.js"></script>
  <script src="https://code.angularjs.org/1.3.15/angular-animate.min.js"></script>

  <!-- Modules -->
  <script src="/app/js/app.js"></script>
  
  <!-- Third party -->
  <script src="/vendor/checklist-model-0.2.4/checklist-model.js"></script>
  <!-- // <script src="/vendor/async-master/lib/async.js"></script> -->

    
  <!-- Controllers -->
  <script src="/app/js/controllers/AdminIndexController.js"></script>

</body>
</html>



